<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="c:\temp\nlog-internal.txt">
  <variable name="logLayout" value="${date:format=HH\:mm\:ss} - ${logger} | ${level:uppercase=true} : ${message}${onexception:inner=|${exception:format=tostring}}" />

  <targets>
    <target name="console" xsi:type="Debugger" layout="${logLayout}" />
    
    <target name="logfile" xsi:type="File" fileName="file.txt" layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,logfile" />
  </rules>
</nlog>